.text{
  background-color: orangered;
  margin: 0;
  color: white;
  display: inline;
}

.longtext{
  background-color: orangered;
  font-size: 14px;
  margin: 0;
  color: white;
  text-align: center;
}
.button{
  background-color: orangered;
  color: white;
  margin: 10px;
  float: right;
  display: inline;
  border: none;
  font-size: 16px;
}

.button:hover{
  background-color: white;
  color: orangered;
}

.button2{
  background-color: rgb(199, 49, 4);
  height: 50px;
  width: 150px;
  color: white;
  margin: 10px;
  float: right;
  display: inline;
  border: none;
  font-size: 16px;
}

.button2:hover{
  background-color: white;
  color: orangered;
}
