<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
 <div style="background-color: orangered; margin: 0px; height: 300px;">
   <span>
     <h1 class="text">Home4</h1>
     <div class="text">
       <button class="button">home</button>
       <button class="button">shop</button>
       <button class="button">login</button>
     </div>
   </span>

   <div class="longtext">
     <pre>
       Lorem ipsum, dolor sit amet consectetur adipisicing elit. Nobis
       corrupti officia aspernatur qui dolores possimus debitis? Esse nemo adipisci dolorum voluptate
       quos consequuntur quas ipsum ex nobis iste sint numquam at modi accusamus illum sed assumenda,
       exercitationem qui vitae? Error vero odio optio repellat qui labore veritatis est reiciendis
       voluptate.
      </pre>
       <div style="display: table;  margin-right: auto; margin-left: auto;">
          <button class="button2">try it free</button>
          <button class="button2">sing up</button>
       </div>
   </div>
 </div>

 <div style="display: table;  margin-right: auto; margin-left: auto;">
    <input placeholder="seart for product you need help for..." style="height: 30px; width: 800px;">
 </div>

</body>
</html>
