<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <h2>My Tasks Today</h2>
  <li *ngFor = "let item of arr">
    {{item}}
    <button (click) = "delete(item.value)">delete</button>
  </li>

  <span>
    <h3 style="display: inline;">Tasks :</h3>
    <input type="text" #input />
    <button (click)= "AddArray(input.value)" >Add</button>
  </span>

</body>
</html>
